.page {
  min-width: 300px;
  margin: 0 auto;
  font-family: 'Roboto', Arial, sans-serif;
  background-image: url(../../images/page-background.png);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
